html, body {
  height: 100%;
}


 .mb-3, .mb-4, .button,.nav-item {
 font-family: 'Unica One', cursive;
 }
 
.mb-3{
	font-size:60px
}
.mb-4 {
	font-size:20px;
}

.button {
	background-color:yellow;
	color:black;
	border-radius:3px;
	border:1px solid black;
	padding:12px 28px;
	text-decoration:none;
}

.button:hover{
	color:white;
}

.image {
	float:left;
	padding:40px;
}

.text {
	margin:20px;
	float:right;
   font-family: 'Roboto Slab', serif;
	text-align:justify;
}

.contact{
	padding:50px;
}

 ul{
	list-style:none;
}

.links{
	color:black;
	text-decoration:none;
}

.links:hover{
	color:pink;
}




