html, body {
  height: 100%;
}


 .mb-3, .mb-4, .button,.nav-item {
 font-family: 'Poppins', sans-serif;
 }
 
.mb-3{
	font-size:60px
}
.mb-4 {
	font-size:20px;
}

.button {
	background-color:#ff7f50;
	color:black;
	border-radius:3px;
	border:1px solid black;
	padding:12px 28px;
	text-decoration:none;
}

.button:hover{
	color:white;
}

.image {
	float:left;
	padding:40px;
}

.text {
	margin:20px;
	float:right;
   font-family: 'Poppins', sans-serif;
	text-align:justify;
}

.contact{
	padding:50px;
	margin:auto;
	width:100%;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	color:#ff7f50;
	
}

 ul{
	list-style:none;
	
}

.links{
	color:black;
	text-decoration:none;
	font-family: 'Poppins', sans-serif;
}

.links:hover{
	color:white;
}




